<section class="orders-show">

  <header class="page-header">
  <h1>Thank you for your Order!</h1> 
  <h3>Order <%= @order.id %> </h3>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th> id </th>
        <th>Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <%= render 'item', line_item:line_item %>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="order-summary jumbotron">
    <h4> Order Total: <%= humanized_money_with_symbol @order.total_cents/100 %>  </h4>
    <h5> A receipt for this order has been sent to: <%= @order.email %></h5>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
