<section class="orders-show">

  <header class="page-header">
  <h1>Thank you for your Order!</h1> 
  <h3>Order <%= @order.id %> </h3>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th> id </th>
        <th>Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td><%= @order.id %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= humanized_money_with_symbol @order.total%></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <%=puts @enhanced_cart.inspect%>

  <div class="order-summary jumbotron">
    <h4> </h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
